<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <!--Link para acessar os icones do site boxicons-->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

  <title>Blue Final Website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <!--Estilo do bootstrap-->
  <style>
    html,
    body {
      background-image: url("https://media1.giphy.com/media/6kkdoLdjDKUaC6JEKu/200w.webp?cid=ecf05e47wmha1lq1qdt6uuulyzheau580w27vhbok8vgagu3&rid=200w.webp&ct=g");
      background-size: cover;
    }

    .bgsemi {

      background-color: rgba(191, 197, 218, 0.205);
      border-radius: 10px;
      border-color: rgb(173, 176, 185, 0.459);
      box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.192);
    }

    li.nav-item {
      font-size: 1.5rem;
      font-weight: 500;
    }

    a.navbar-brand {
      font-size: 1.5rem;
      font-weight: 500;
    }

  </style>


</head>

<body class="text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner ">
        <nav class="cornavefooter navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand " href="/sobre">🎬 Catálogo</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/antonio">Antonio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/elisama">Elisama</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/fellipe">Fellipe </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/rudhy">Rudhy</a>
              </li>

              <li class="nav-cfg">
                <a class="nav-link" href="/adm">⚙️</a>
            </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main role="main " class="inner cover bgsemi">
      <h2>Sejam bem vindos!</h2>
      <p align="justify" class="lead texto">Olá, este é o catálogo do grupo 5! Aproveite para desfrutar diferentes seções de
        acordo com o nome do integrante do grupo. Neste projeto estamos felizes em contemplar mais de um tema para maior
        aproveitamento, prepare-se para embarcar nesta experiência. Boa diversão!</p>
      <p class="lead">
        <a href="/sobre" class="btn btn-lg btn-secondary estilobotao">Sobre nós</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Todos os direitos reservados :<a href="https://github.com/TalitaCbral">👩🏾‍💻 TalitaCbral &copy </a>
      </div>
    </footer>
  </div>

</body>

</html>