<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <!--Link para acessar os icones do site boxicons-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <title>Blue Final Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


</head>

<style>


</style>

<body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner ">
                <nav class="cornavefooter navbar navbar-expand-lg navbar-light">

                    <a class="navbar-brand " href="/">🙋🏾‍♀️ Sobre Nós</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                        </ul>
                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x225]" src="/static/img/antonio.jpg" data-holder-rendered="true"
                                style="height: 230px; width: 100%; display: block;">
                            <div class="card-body">
                                <h6 align="center" class="card-text">Antonio Marcos Leite</h6>
                                <p align="justify">28 anos, São Luis - MA. Apesar de já formado em ADS nunca programou
                                    profissionalmente, e agora com a Blue pretende seguir a sua carreira em Programador
                                    Back-End.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://www.linkedin.com/in/antonio-marcos-leite-61b210bb"
                                            target="_blank"><button type="button"
                                                class="btn btn-sm btn-outline-secondary">Linkedin</button></a>
                                        <a href="https://github.com/antonio00" target="_blank"><button type="button"
                                                class="btn btn-sm btn-outline-secondary">Github</button></a>
                                    </div>
                                    <small class="text-muted">Comidas</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x225]" src="/static/img/elisama.jpeg" data-holder-rendered="true"
                                style="height: 230px; width: 100%; display: block;">
                            <div class="card-body">
                                <h6>Elisama Talita C. Santana</h6>
                                <p align="justify">20 anos, São Paulo - SP e sou formada em Farmácia nível Técnico, a
                                    tecnologia tem sido uma grande motivação atualmente em minha vida! Junto com a blue
                                    burco ser Programadora Full Stack.
                                </p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://www.linkedin.com/in/talita-santana-22ba27175/"
                                            target="_blank"><button type="button"
                                                class="btn btn-sm btn-outline-secondary">Linkedin</button></a>
                                        <a href="https://github.com/TalitaCbral" target="_blank"><button type="button"
                                                class="btn btn-sm btn-outline-secondary">Github</button></a>
                                    </div>
                                    <small class="text-muted">Filmes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x225]" src="/static/img/fellipe.jpg" data-holder-rendered="true"
                                style="height: 230px; width: 100%; display: block;">
                            <div class="card-body">
                                <h6>Fellipe Leal</h6>
                                <p align="justify">Tenho 20 anos e sou da Bahia. Atualmente trabalho na Aviação Civil,
                                    porém gosto muito das tecnologias e suas aplicabilidades no mundo, além da sua parte
                                    de Software quanto da parte de Hardware.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://www.linkedin.com/in/fellipe-leal-b6b92b1b4/
                                        " target="_blank"><button type="button"
                                                class="btn btn-sm btn-outline-secondary">Linkedin</button></a>
                                        <a href="https://github.com/flealbrl" target="_blank"><button type="button"
                                                class="btn btn-sm btn-outline-secondary">Github</button></a>
                                    </div>
                                    <small class="text-muted">Memes</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x225]" src="/static/img/rudhy.jpg" data-holder-rendered="true"
                                style="height: 230px; width: 100%; display: block;">
                            <div class="card-body">
                                <h6 align="center" class="card-text">Rudhy Pereira</h6>
                                <p align="justify">Sou engenheiro civil, tenho 30 anos e estou em transição de carreira
                                    para área da
                                    Programação Web. Pretendo seguir no Full Stack com especialização em JavaScript
                                    ES6+.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://www.linkedin.com/in/rudhycosta/ " target="_blank"><button
                                                type="button"
                                                class="btn btn-sm btn-outline-secondary">Linkedin</button></a>
                                        <a href="https://github.com/RudhyDev" target="_blank"><button type="button"
                                                class="btn btn-sm btn-outline-secondary">Github</button></a>
                                    </div>
                                    <small class="text-muted">Animes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="mastfoot mt-auto">
                    <div class="inner">
                        <p>Todos os direitos reservados :<a href="https://github.com/TalitaCbral">👩🏾‍💻 TalitaCbral
                                &copy </a>
                    </div>
                </footer>
            </div>

</body>

</html>